<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299787657544-q04abdno38fd4b16ppbkh9ik3aoobabk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299787657544-q04abdno38fd4b16ppbkh9ik3aoobabk</string>
	<key>API_KEY</key>
	<string>AIzaSyCouJI9Ft_xLPQ_SleypiN9MWxOt2gUjEU</string>
	<key>GCM_SENDER_ID</key>
	<string>299787657544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.FirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>firestoreexample-aa5e7</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreexample-aa5e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299787657544:ios:b72639b36713ce0b</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreexample-aa5e7.firebaseio.com</string>
</dict>
</plist>